.event
	.label
		{{#if userAvatar}}
		img(src="{{userAvatar}}")
		{{else}}
		img(src="/public/images/elliot.jpg")
		{{/if}}
		
	.content
		.date 
			a(){{userName}}
			|@{{timeStamp}}
		.summary {{content}}