.ui.centered.grid#footer
  .twelve.wide.column
    .ui.five.column.horizontally.padded.stackable.centered.grid
      .row
        .grey.column
          .ui.header
            h4 友情链接
          .ui.list
            .item
              a 友情链接1
            .item
              a 友情链接2
            .item
              a 友情链接3
            .item
              a 友情链接4
        .grey.column
            .ui.header
              h4 心理圈
            .ui.list
              .item
                a 汇心心理服务小站
              .item
                a 汇心心理学院
              .item
                a 第三方机构
        .grey.column
            .ui.header
              h4 关于汇心
            .ui.list
              .item
                a 汇心心理品牌
              .item
                a 汇心大事记
              .item
                a 资质与荣誉
              .item
                a 版权声明
              .item
                a 联系我们
        .grey.column
            .ui.header
               h4 加入汇心
            .ui.list
              .item
                a 企业报班
              .item
                a 学校报班
              .item
                a 个人
        .grey.column
            .ui.basic.segment
              .ui.center.aligned.icon.header
                i.circular.call.icon
                |800-800-800
      .centered.row
        .grey.eight.wide.column
          .ui.basic.center.aligned.segment
            p 版权所有 本站内容未经书面许可, 禁止一切形式的转载, 日志存档.
            p &copy; Copyright 2010-2015 汇心网. All Rights Reserved. (备案号：蜀ICP备15015660号)

