.ui.form.large.options
  .grouped.fields
    .label {{ description }}
    {{#each options}}
    .field
      .ui.radio.checkbox
        input(type="radio", name="question-{{../id}}", value="{{id}}", id="option-{{id}}")
        label(for="option-{{id}}") {{identity}}. {{ description }}
    {{/each}}