.content
  h4.header {{ title }}
  p.description {{ description }}
  .ui.list
    {{#each tests}}
    .item
      i.right.triangle.icon
      .content
        a.header(title="{{ description }}", href="/psychtest/{{ id }}") {{title}}
    {{/each}}
  .ui.bottom.attached.button 提交套餐
