h3.header(id="{{id}}") {{ title }}
.ui.stackable.grid
  .six.wide.column
    img.ui.image(src="/public/images/T{{id}}.png")

  .ten.wide.column.ui.list
    table.ui.very.basic.unstackable.table
      thead
        tr
          th 项目名称
          th 测试对象
          th 说明
          th 人数
      tbody
        {{#each tests}}
        tr
          td 
            a(title="{{ description }}", href="/psychtests/about/{{ id }}") 
              h5.ui.green.header {{title}}
          td {{ object }}
          td {{shorter_description comment}}
          td ...           
        {{/each}}
