.twelve.wide.column
  h2.ui.dividing.header 
    {{ title }}
    .sub.header {{{description}}}
  form.ui.form.psychtest
    table.ui.striped.table.unstackable.collapsing
      thead
        tr
          th 问题
          th 回答
      tbody
        {{#each questions}}
        tr
          td {{description}}
          td
            .inline.fields
              .field
                .ui.radio.checkbox
                  input(type="radio", name="{{id}}", value="1")
                  label 是
              .field
                .ui.radio.checkbox
                  input(type="radio", name="{{id}}", value="0")
                  label 否
        {{/each}}
    button.ui.primary.button.save
      i.icon.save 
      | 保存
    button.ui.primary.button.submit(type="submit")
      i.icon.send
      | 提交答案