.four.wide.column
  .ui.basic.segment
    #last.ui.purple.button 上一题
.four.wide.column
  .ui.basic.segment
    #next.ui.purple.button 下一题
.four.wide.column
  .ui.basic.segment
    #submit.ui.purple.disabled.button 提交答案