header.ui.vertical.segment
  .ui.basic.segment
    h2 {{ title }}
  .ui.basic.segment
    h4 {{ description }}
  .ui.basic.segment
    h5 第{{ current }}题，一共{{ total }}题

section.ui.vertical.segment.question

footer.ui.vertical.segment
  {{#if hasPrev}}
  .ui.purple.button.prev 上一题
  {{else}}
  .ui.purple.button.prev.disabled 上一题
  {{/if}}

  {{#if hasNext}}
  .ui.purple.button.next 下一题
  .ui.purple.disabled.button 提交答案
  {{else}}
  .ui.purple.button.next.disabled 下一题
  .ui.purple.button 提交答案
  {{/if}}
