header.ui.vertical.segment
  .ui.basic.segment
    h2 {{ title }}
  .ui.basic.segment
    h4 {{ description }}
  .ui.basic.segment
    h5 第{{ current }}题，一共{{ total }}题

section.ui.vertical.segment.question

footer.ui.vertical.segment
  .four.wide.column
    .ui.basic.segment
      .ui.purple.button.last 上一题
  .four.wide.column
    .ui.basic.segment
      .ui.purple.button.next 下一题
  .four.wide.column
    .ui.basic.segment
      .ui.purple.disabled.button 提交答案