div#header
  header#navigation
  #submenu
main#main
.ui.modal
  .header 确定删除？
  .content
    .description 删除文章将会同时删除和文章相关的所有附言...
  .actions
    .ui.button.cancel 取消
    .ui.red.button.ok 确定

include ./templates/common_tpl