div#header
  header#navigation
  #submenu
main#main

include ./admin/home
include ./admin/categories
include ./admin/articles
include ./admin/courses
include ./admin/tests
include ./templates/common_tpl