div#header
  div#navigation
  #submenu
main#main
footer#footer
div#loginmodal
#dialog

include ./templates/header
include ./templates/footer
include ./templates/home
include ./templates/articles
include ./templates/about
include ./templates/account
include ./templates/test
include ./templates/site
include ./templates/consultant
include ./templates/profile
include ./templates/logout
include ./templates/appointment
include ./templates/courses
include ./templates/common_tpl
include ./templates/pagelayout