div#header
main#main
footer#footer
#login-dialog
#register-dialog

include ./templates/articles
include ./templates/consultant
include ./templates/appointment
include ./templates/courses
include ./templates/common_tpl
include ./templates/pagelayout