div#header
  header#navigation
  #submenu
main#main
footer#footer
#dialog

include ./templates/header
include ./templates/footer
include ./templates/home
include ./templates/articles
include ./templates/about
include ./templates/account
include ./templates/test
include ./templates/site
