header#header
main#main
footer#footer.page-footer
#dialog

include ./templates/header
include ./templates/footer
include ./templates/home
include ./templates/articles
include ./templates/about
include ./templates/account