div#header
  div#navigation
  #submenu
main#main
footer#footer
div#loginmodal
#dialog

include ./templates/articles
include ./templates/consultant
include ./templates/profile
include ./templates/appointment
include ./templates/courses
include ./templates/common_tpl
include ./templates/pagelayout