ul.slides
  {{#each items}}
  li
    a(href="/articles/{{id}}")
      {{#if cover}}
      img(src="{{cover}}")
      {{else}}
      img(src="/public/images/slider-default.png")
      {{/if}}
  {{/each}}