.centered.row
	.twelve.wide.column
		.row#slider
		.row#category
		.row#doc
		.row#video
		.row#blog
.centered.row(style="background:#F4F5F6 !important;")
	.twelve.wide.column
		.ui.two.column.stackable.grid
			.column
				#tag
			.column
				#latest
