h2 心理知识
.category-menu.pure-menu.pure-menu-horizontal
	ul.pure-menu-list
		li.pure-menu-item 心理知识分类:  
		{{#each items}}
		li.pure-menu-item
			<a data-id="{{id}}" class="pure-menu-link" href="#">{{name}}</a>
		{{/each}}