.ui.middle.aligned.stackable.grid
	.two.column.row
		.column
			.row
				h2.ui.header
					a(href="/articles/list/cat{{items.[0].category.id}}/typeDOC") 更多文章
			.ui.two.column.stackable.grid
				.column
					.ui.basic.segment
						.ui.list
							a.item(href="/articles/{{items.[0].id}}") {{items.[0].title}}
							a.item(href="/articles/{{items.[1].id}}") {{items.[1].title}}
							a.item(href="/articles/{{items.[2].id}}") {{items.[2].title}}
							a.item(href="/articles/{{items.[6].id}}") {{items.[6].title}}
				.column
					.ui.basic.segment
						.ui.list
							a.item(href="/articles/{{items.[3].id}}") {{items.[3].title}}
							a.item(href="/articles/{{items.[4].id}}") {{items.[4].title}}
							a.item(href="/articles/{{items.[5].id}}") {{items.[5].title}}
							a.item(href="/articles/{{items.[7].id}}") {{items.[7].title}}
		.column
			.ui.basic.segment
				.ui.centered.image.coveritem
					.ui.dimmer
						.content
							.center
								h4.ui.inverted.header
									a(href="/articles/{{items.[0].id}}") {{items.[0].title}}
					{{#if items.[0].cover}}
					img(src="{{items.[0].cover}}")
					{{else}}
					img(src="/public/images/doc-default.png")
					{{/if}}