.ui.stackable.grid
	.row
		.column
			h2.ui.header 心理知识
	.two.column.middle.aligned.row
		.two.wide.column
			h4 分类:
		.twelve.wide.column
			{{#each items}}
			a.ui.green.basic.small.button(data-id="{{id}}", href="#") {{name}}
			{{/each}}