.ui.middle.aligned.stackable.grid
	.two.column.row
		.column
			.row
				h2.ui.header
					a(href="/articles/list/cat{{items.[0].category.id}}/typeBLOG") 更多博客
			.ui.two.column.stackable.grid
				.column
					.ui.basic.segment
						.ui.list
							a.item(href="/articles/{{items.[0].id}}") {{items.[0].title}}
							a.item(href="/articles/{{items.[1].id}}") {{items.[1].title}}
							a.item(href="/articles/{{items.[2].id}}") {{items.[2].title}}
				.column
					.ui.basic.segment
						.ui.list
							a.item(href="/articles/{{items.[3].id}}") {{items.[3].title}}
							a.item(href="/articles/{{items.[4].id}}") {{items.[4].title}}
							a.item(href="/articles/{{items.[5].id}}") {{items.[5].title}}
		.column
			.ui.basic.segment
				a(href="/articles/{{items.[0].id}}")
					{{#if items.[0].cover}}
					img.ui.centered.image(src="{{items.[0].cover}}")
					{{else}}
					img.ui.centered.image(src="/public/images/blog-default.png")
					{{/if}}