.ui.center.aligned.page.grid
	.row
		.sixteen.wide.moblie.twelve.wide.tablet.twelve.wide.computer.column
			.ui.segment#slider
	.row
		.sixteen.wide.moblie.twelve.wide.tablet.twelve.wide.computer.column
			.ui.segment#category
	.row
		.sixteen.wide.moblie.twelve.wide.tablet.twelve.wide.computer.column
			.ui.segment#doc
	.row
		.sixteen.wide.moblie.twelve.wide.tablet.twelve.wide.computer.column
			.ui.segment#video
	.row
		.sixteen.wide.moblie.twelve.wide.tablet.twelve.wide.computer.column
			.ui.segment#blog
	.row
		.sixteen.wide.moblie.twelve.wide.tablet.twelve.wide.computer.column
			.ui.segment#tag
	.row
		.sixteen.wide.moblie.twelve.wide.tablet.twelve.wide.computer.column
			.ui.segment#latest