td.user {{ user.username }}
td.consultant {{ consultant.username }}
td.date {{ date }}
td.approach {{ approach }}
td.state
  select(name="state").ui.dropdown
    option(value="WAITING")  等待中
    option(value="ACCEPTED") 已接受
    option(value="DECLINED") 已拒绝
    option(value="FINISHED") 已完成
td.save
  .ui.tiny.green.button 保存
  .ui.tiny.button 删除
