tr
  td {{ user.username }}
  td {{ consultant.username }}
  td {{ date }}
  td {{ approach }}
  td {{ state }}
  td
    .ui.tiny.blue.button 接受
    .ui.tiny.red.button 拒绝
    .ui.tiny.green.button 完成
    .ui.tiny.teal.button 取消

