table.ui.celled.structured.table
	thead
		tr
			th(rowspan="2", colspan="2") 因素
			th(rowspan="2") 原始分
			th(rowspan="2") 标准分
			th(rowspan="2") 低分特征
			th(colspan="10") 标准分
			th(rowspan="2") 高分特征
		tr
			th 1
			th 2
			th 3
			th 4
			th 5
			th 6
			th 7
			th 8
			th 9
			th 10
	tbody
		tr
			td 乐群性
			td A
			td {{A}}
			td {{normal_A}}
			td 缄默孤独
			{{get_normal_score normal_A}}
			td 乐群外向
		tr
			td 聪慧性
			td B
			td {{B}}
			td {{normal_B}}
			td 迟钝、学识浅薄
			{{get_normal_score normal_B}}
			td 聪慧、富有才识
		tr
			td 稳定性
			td C
			td {{C}}
			td {{normal_C}}
			td 情绪激动
			{{get_normal_score normal_C}}
			td 情绪稳定
		tr
			td 恃强性
			td E
			td {{E}}
			td {{normal_E}}
			td 谦虚顺从
			{{get_normal_score normal_E}}
			td 好强固执
		tr
			td 兴奋性
			td F
			td {{F}}
			td {{normal_F}}
			td 严肃审慎
			{{get_normal_score normal_F}}
			td 轻松兴奋
		tr
			td 有恒性
			td G
			td {{G}}
			td {{normal_G}}
			td 权宜敷衍
			{{get_normal_score normal_G}}
			td 有恒负责
		tr
			td 敢为性
			td H
			td {{H}}
			td {{normal_H}}
			td 畏缩退怯
			{{get_normal_score normal_H}}
			td 冒险敢为
		tr
			td 敏感性
			td I
			td {{I}}
			td {{normal_I}}
			td 理智、着重实际
			{{get_normal_score normal_I}}
			td 敏感、感情用事
		tr
			td 怀疑性
			td L
			td {{L}}
			td {{normal_L}}
			td 信赖随和
			{{get_normal_score normal_L}}
			td 怀疑刚愎
		tr
			td 幻想性
			td M
			td {{M}}
			td {{normal_M}}
			td 现实、合符成规
			{{get_normal_score normal_M}}
			td 幻想、狂放不羁
		tr
			td 世故性
			td N
			td {{N}}
			td {{normal_N}}
			td 坦白直率、天真
			{{get_normal_score normal_N}}
			td 精明能干、世故
		tr
			td 忧虑性
			td O
			td {{O}}
			td {{normal_O}}
			td 安详沉着、有自信心
			{{get_normal_score normal_O}}
			td 忧虑抑郁、烦恼多端
		tr
			td 实验性
			td Q1
			td {{Q1}}
			td {{normal_Q1}}
			td 保守、服膺传统
			{{get_normal_score normal_Q1}}
			td 自由、批评激进
		tr
			td 独立性
			td Q2
			td {{Q2}}
			td {{normal_Q2}}
			td 依赖、随群附众
			{{get_normal_score normal_Q2}}
			td 自主、当机立断
		tr
			td 自律性
			td Q3
			td {{Q3}}
			td {{normal_Q3}}
			td 矛盾冲突、不明大体
			{{get_normal_score normal_Q3}}
			td 知己知彼、自律谨严
		tr
			td 紧张性
			td Q4
			td {{Q4}}
			td {{normal_Q4}}
			td 心平气和
			{{get_normal_score normal_Q4}}
			td 紧张困扰