.sixteen.wide.mobile.twelve.wide.tablet.twelve.wide.computer.column
	.ui.two.column.divided.stackable.equal.height.grid
		.ten.wide.computer.column
			#detail.article-content
		.six.wide.computer.column
			#latest.article-right-content
			#tag.article-right-content