a.active.purple.item(href="/")
  i.home.icon 
  | 汇心网
div#adminentry.right.menu
  a#adminlink.item
    i.small.settings.icon
    |管理员系统
.right.menu
  a.item(href="/logout") 退出
.right.menu
  a.item(href="/") 个人档案
.right.menu
  a.item(href="/profile/{{ id }}") 用户面板