.ui.modal
  .header 欢迎来到汇心网
  .content
    .ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
      .column
        form.ui.form
          .field
            label 用户名 
            .ui.left.icon.input
              input#name(type="text", name="username", placeholder="请输入用户名")
              i.user.icon
          .field
            label 密码    
            .ui.left.icon.input
              input#pass(type="password", name="password", placeholder="请输入密码")
              i.lock.icon
          input.ui.primary.button#loginbutton(type="submit", value="登陆")              
      .ui.vertical.divider 或
      .center.aligned.column
        a.ui.button.positive#register(href="/register") 
          i.signup.icon
          | 没有账号? 注册
  .actions
    .ui.button.negative 取消