.container.brand
  .right.floated.six.wide.column
    .ui.text.menu
      a.item#login(href="#") 登录
      a.item#register(href="#") 注册
      a.item(href="#") 关于我们

.ui.inverted.teal.segment
  .container
    .ui.menu.inverted.teal
      a.item(href="/") 首页
      a.item(href="/articles") 心理知识
      a.item(href="/consultants") 心理咨询
      a.item(href="/courses") 心理课程
      a.item(href="/psychtestsuites") 心理测试
      a.item(href="/fms") 心理FM
      a.item(href="/questions") 心理问答
      a.item(href="/rooms") 心理聊天室
      a.item(href="/articles/list/games") 心理游戏
