.pure-g.logo-bar
	.pure-u-2-5
		a.logo.pure-menu-heading
			img.pure-img(src="/public/images/logo.jpg")
	.pure-u-3-5
		.pure-menu.pure-menu-horizontal.login-menu
			ul.pure-menu-list
				li.pure-menu-item
					a#login.pure-menu-link(href="#") 登录
				li.pure-menu-item
					a.pure-menu-link(href="/register") 注册
				li.pure-menu-item
					a.pure-menu-link(href="#") 关于我们
.home-menu-bar
	.home-menu.pure-menu.pure-menu-horizontal
		ul.pure-menu-list
			li.pure-menu-item
				a.absolute-center.pure-menu-link(href="/site") 首页
			li.pure-menu-item
				a.pure-menu-link(href="/articles") 心理知识
			li.pure-menu-item
				a.pure-menu-link(href="/consultants") 心理咨询
			li.pure-menu-item
				a.pure-menu-link(href="/courses") 心理课程
			li.pure-menu-item
				a.pure-menu-link(href="/psychtestsuites") 心理测试
			li.pure-menu-item
				a.pure-menu-link(href="#") 心理FM
			li.pure-menu-item
				a.pure-menu-link(href="#") 其他

