.ui.centered.grid
  .twelve.wide.column
    .ui.raised.segment
      form.ui.form
        .required.field
          label 用户名
          input(type="text", name="username", placeholder="请输入用户名")
        .required.field
          label 密码
          input(type="password", name="password", placeholder="请输入密码")
        .required.field
          label 确认密码
          input(type="password", name="password1", placeholder="请再次输入密码")
        .required.field
          label 电子邮件
          input(type="text", name="email", placeholder="请输入电子邮件")
        .field
          .ui.checkbox
            input(type="checkbox", name="terms")
            label
              | 了解并同意
              a(href="#") 用户协议
        .field
          .ui.checkbox
            input(type="checkbox", name="consultant")
            label
              | 注册咨询师?
        .ui.horizontal.divider
        .field
          span
            | 已经有账号:
            a#login-me.ui.tiny.green.basic.button 登录
        input.ui.submit.green.button#register-me(type="submit", value="注册")
        .ui.error.message