.ui.basic.segment
	.ui.header
		h3 最新心理知识
	.ui.list
		{{#each items}}
		.item
			.contnet
				.header
					a(href="/articles/{{id}}") {{title}}
				.article-meta [{{category.name}}] 更新时间：{{lastModifiedDate.year}}-{{lastModifiedDate.monthOfYear}}-{{lastModifiedDate.dayOfMonth}}  浏览数：
		{{/each}}