.centered.row
	.sixteen.wide.mobile.ten.wide.computer.column
		.player-1
		.player-container
			.player-content
				.player-title
					.ui.header#title
				.player-scripts 
					p xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxddddddddddddddddddddddddddddddddddd
				.player-seeking
					.player-seekbar
						.player-playbar
				.player-current
				.player-duration
				.player-buttons
					i.circular.inverted.teal.fast.backward.icon
					i.big.circular.inverted.teal.play.icon
					i.big.circular.inverted.teal.pause.icon
					i.circular.inverted.teal.stop.icon
					i.circular.inverted.teal.fast.forward.icon
.centered.row(style="background:#F4F5F6 !important;")
	.twelve.wide.column#list