.three.column.row
	{{#each items}}
	.column
		.ui.basic.segment
			a.fmitem(data-id="{{id}}", href="#")
				{{#if cover}}
				img.ui.centered.image(src="{{cover}}")
				{{else}}
				img.ui.centered.image(src="/public/images/fm2.png")
				{{/if}}
	{{/each}}
.row
	.center.aligned.column
		#paging