.three.column.row
	{{#each items}}
	.column
		.ui.basic.segment
			.ui.centered.image.fmitem
				.ui.dimmer
					.content
						.center
							h4.ui.inverted.header {{title}}
							.ui.basic.inverted.green.tiny.button.playthis(data-id="{{id}}") 播放
				{{#if cover}}
				img.ui.centered.image(src="{{cover}}")
				{{else}}
				img.ui.centered.image(src="/public/images/fm2.png")
				{{/if}}
	{{/each}}
.row
	.center.aligned.column
		#paging