.row
	.ui.huge.breadcrumb
		a {{items.[0].type}}
		i.right.chevron.icon.divider
		a {{items.[0].category.name}}
.row
	.column
		.ui.items
			{{#each items}}
			.item
				.ui.small.image
					{{#if cover}}
					img(src="{{cover}}")
					{{else}}
					img(src="/public/images/placeholder.png")
					{{/if}}
				.middle.aligned.content
					a(href="/articles/{{id}}").header {{title}}
					.description
						p {{summary}}
					.extra 作者： 来源： 浏览数
			{{/each}}
.row
	.center.aligned.column
		#paging