.pure-g
	h3 {{items.[0].type}} - {{items.[0].category.name}}
{{#each items}}
.pure-g.article-list-item
	.pure-u-1-2
		.ui.basic.segment
			img.pure-img(src="/public/images/slide1.png")
	.pure-u-1-2
		.ui.basic.segment
			h4 {{title}}
			p {{summary}}
			p 作者： 来源： 浏览数：
{{/each}}
div#paging.paging