.row
	.column
		.ui.huge.breadcrumb
			i 心理互动
			i.right.chevron.icon.divider
			i 心理游戏
.row
	.column
		.ui.items
			{{#each items}}
			.item
				.ui.small.image
					{{#if cover}}
					img(src="{{cover}}")
					{{else}}
					img(src="/public/images/placeholder.png")
					{{/if}}
				.middle.aligned.content
					a(href="/articles/{{id}}").header {{title}}
					.meta
						span.stay 时间: {{lastModifiedDate.year}}-{{lastModifiedDate.monthOfYear}}-{{lastModifiedDate.dayOfMonth}}
					.description
						p {{summary}}
			{{/each}}
.row
	.center.aligned.column
		#paging