.content
  a.header(href="/admin/consultant/{{ id }}") {{username}}
  .meta
    span  邮箱: {{email}}
  .extra
    .ui.left.floated.tiny.vertical.animated.red.button.delete
      .hidden.content 审核通过
      .visible.content
        i.large.trash.icon