#home.murmur
  .ui.centered.stackable.grid
    .eight.wide.column
      .basic.ui.segment
        h2 我要吐槽
      .basic.ui.segment
        .ui.form
          .field
            textarea#content
        #submit.green.medium.ui.button 发表
        .ui.divider(style="clear:both;margin-top:150px;")
        #murmurs
          .ui.divided.items#murmurList
            |{{#each murmurs}}
            .item
              |{{#if createdBy.avatar}}
              .ui.tiny.image
                img(src="{{createdBy.avatar}}")
              |{{else}}
              .ui.tiny.image
                img(src="{{createdBy.avatar}}")
              |{{/if}}
              .content
                a.author {{createdBy.username}}
                .metadata {{createdDate.year}}-{{createdDate.monthOfYear}}-{{createdDate.dayOfMonth}}
                .text
                  p {{content}}
            |{{/each}}
        #pagnationWrapper
          #pagnation
