.row
  .column
    .ui.items
      .item
        .ui.small.image
          img(src="/public/images/temp/a11.jpg")
        .content
          .header 纯的人，很难获得幸福？
          .description 与其强颜欢笑苦了自己，还不如真诚地面对自己的感受，管理情绪，从尊重和了解自己的情绪开始。
      .item
        .ui.small.image
          img(src="/public/images/temp/a22.jpg")
        .content
          .header 单纯的人，很难获得幸福？
          .description 18岁的爱情，大抵是我们一生中最为单纯的情感。可我们不可能永远18岁，我们终需成长，变得成熟...
      .item
        .ui.small.image
          img(src="/public/images/temp/a33.jpg")
        .content
          .header 单纯的人，很难获得幸福？
          .description 18岁的爱情，大抵是我们一生中最为单纯的情感。可我们不可能永远18岁，我们终需成长，变得成熟...
      .item
        .ui.small.image
          img(src="/public/images/temp/a11.jpg")
        .content
          .header 纯的人，很难获得幸福？
          .description 与其强颜欢笑苦了自己，还不如真诚地面对自己的感受，管理情绪，从尊重和了解自己的情绪开始。
      .item
        .ui.small.image
          img(src="/public/images/temp/a22.jpg")
        .content
          .header 单纯的人，很难获得幸福？
          .description 18岁的爱情，大抵是我们一生中最为单纯的情感。可我们不可能永远18岁，我们终需成长，变得成熟...
      .item
        .ui.small.image
          img(src="/public/images/temp/a33.jpg")
        .content
          .header 单纯的人，很难获得幸福？
          .description 18岁的爱情，大抵是我们一生中最为单纯的情感。可我们不可能永远18岁，我们终需成长，变得成熟...
.row
  .center.aligned.column
    .ui.divider
    .ui.pagination.menu
      a.icon.item
        i.left.arrow.icon
      a.active.item 1
      a.item ...
      a.item 10
      a.item 11
      a.item 12
      a.icon.item
        i.right.arrow.icon