.ui.grid
	.four.wide.column
		form.ui.form
			.field
				label 原始密码:
				input(type="password", name="oldpass")
			.field
				label 新密码:
				input(type="password", name="newpass")
			.field
				label 再次确认:
				input(type="password", name="newpass2")
			.ui.primary.submit.button 提交