.ui.centered.stackable.grid
  .twelve.wide.column
    h2.ui.header
      img.ui.small.circular.image(src="{{ avatar }}")
      .content 你好，{{ username  }}
        .sub.header {{ about  }}
        .sub.header 
          a.ui.basic.green.tiny.button#myinfo 修改我的个人信息
h4.ui.horizontal.header.divider
  i.bar.char.icon
.ui.page.stackable.grid
  .row
    .centered.column
      .ui.horizontal.list
        .item
          a#myarticles 
            i.small.circular.book.icon
            | 我的文章
        .item
          a#myappointments 
            i.small.circular.chat.icon
            | 我的咨询
        .item
          a#mycourses 
            i.small.circular.users.icon 
            | 我的课程 
        .item
          a#mytests 
            i.small.circular.question.icon 
            | 我的测试
        .item
          a#myprofiles 
            i.small.circular.book.icon 
            | 我的心理档案
  .row
    .column
      .ui.stacked.segment
        div#mycontent