h2.ui.header
  img.ui.small.circular.image(src="{{ avatar }}")
  .content 你好，{{ username  }}
    .sub.header {{ about  }}
    .sub.header 
      a#myinfo 修改我的个人信息
h4.ui.horizontal.header.divider
  i.bar.char.icon
.ui.page.grid
  .four.wide.left.aligned.column
    .ui.link.list
      .item
        a(href="#")#myarticles 
          i.small.circular.book.icon
          | 我的文章
      .item
        a(href="#")#myappointments 
          i.small.circular.chat.icon
          | 我的一对一咨询
      .item
        a(href="#")#mycourses 
          i.small.circular.users.icon 
          | 我的课程 
      .item
        a(href="#")#mytests 
          i.small.circular.question.icon 
          | 我的测试
  .twelve.wide.column
    .ui.stacked.segment
      div#mycontent