table.ui.stackable.table
  thead
    tr
      th(class="two wide") 咨询师
      th(class="two wide") 咨询对象
      th(class="two wide") 模块
      th(class="two wide") 日期
      th(class="eight wide") 心理档案
  tbody
    tr
      td 陆军
      td 王鹏
      td 心理课程
      td 2015/06/31
      td 测试