table.ui.stackable.table
  thead
    tr
      th(class="two wide") 咨询师
      th(class="two wide") 咨询对象
      th(class="two wide") 模块
      th(class="two wide") 日期
      th(class="eight wide") 心理档案
  tbody
    {{#each profileItems}}
    tr
      td {{consultantname}}
      td {{username}}
      td {{module}}
      td {{datetime}}
      td {{summary}}
    {{/each}}