table.ui.stackable.table
  thead
    tr
      th(class="two wide") 咨询师
      th(class="two wide") 咨询对象
      th(class="two wide") 模块
      th(class="two wide") 日期
      th(class="eight wide") 心理档案
  tbody
    tr
      td 陆军
      td 王鹏
      td 心理课程
      td 2015/06/31
      td 恐怖：恐惧对象包括出门旅行、空旷场地、人群、 公共场所、交通工具、社交恐惧等 偏执：主要反映偏执性思维的基本特征 精神病性：主要反映各样急性症状和行为，也可反映精神病性行为的继发征兆和分裂性生活方式的指征 睡眠饮食：反映睡眠、饮食和自杀倾向