table.ui.stackable.table
  thead
    tr
      th 测试项目
      th 项目描述	  
      th 测试时间
      th 测试状态
  tbody
    {{#each items}}
    tr
      td {{title}}
      td {{desc}}
      td {{date}}
      td {{state}}
    {{/each}}