td.consultant {{ consultant.username }}
td.registered {{ registered }}
td.date {{ date }}
td.approach {{ approach }}

td.save
  a.ui.small.red.input.button(style="margin-left:20px;", href="/admin/courseuserlist/{{id}}") 查找参与者