script#admin-article-tpl(type="text/template")
  .image
    img(src="/public/images/placeholder.png")
  .content
    a.ui.header(href!="/admin/articles/<%= id %>/edit") 
      i.edit.icon
      | <%= title %>
    p.description <%= summary %>

script#admin-articles-tpl(type="text/template")
  h2.ui.header Article List
  ul.ui.relaxed.items

script#admin-article-detail-tpl(type="text/template")
  h4 <%=title%>
  p <%= summary%>
  p <%= body %>

script#admin-article-detail-edit-tpl(type="text/template")
  h4.ui.dividing.header Article Editing
  .two.fields
    .field
      label Title
      input(name="title", type="text", value!="<%= title %>", placeholder="Title") 
    .field
      label Category
      select.ui.dropdown
        option(value="", elected=true) Choose you category
        option(value="1") Category 1
        option(value="2") Category 2
        option(value="3") Category 3
  .field
    label Summary
    textarea#summary <%= summary %>
  .field
    label Body
    textarea#body.editor <%= body %>

script#admin-article-create-tpl(type="text/template")
  h4.ui.dividing.header Article Creating
  .two.fields
    .field
      label Title
      input(type="text", placeholder="Title") 
    .field
      label Category
      select.ui.dropdown
        option(value="", elected=true) Choose you category
        option(value="1") Category 1
        option(value="2") Category 2
        option(value="3") Category 3
  .field
    label Summary
    textarea#summary
  .field
    label Body
    textarea#body.editor