script#admin-article-tpl(type="text/template")
  h5 
    a(href!="/admin/articles/<%= id %>") <%= title %>
  p <%= summary %>

script#admin-articles-tpl(type="text/template")
  ul.collection

script#admin-article-detail-tpl(type="text/template")
  .container
    form.col.s12(action="#")
      .row
        .input-field.col.s8
          input#title(type="text", value!="<%= title %>") 
          label.active(for="title") Title
      
        .input-field.col.s4
          label.active(for="category") Category
          select#category
            option(value="", disabled=true, selected=true) Choose you category
            option(value="1") Category 1
            option(value="2") Category 2
            option(value="3") Category 3
      .row
        .input-field.col.s12
          textarea#summary.materialize-textarea <%= summary %>
          label.active(for="summary") Summary
      .row
        .input-field.col.s12
          textarea#body.materialize-textarea.editor <%= body %>
      .row
        .input-field.col.s12
          button.btn.waves-effect.waves-light.right(name="save") Save
            i.mdi-content-send.right
        
  