script#admin-article-tpl(type="text/template")
  a(href!="/admin/articles/<%= id %>") <%= title %>

script#admin-articles-tpl(type="text/template")
  ul.collection

script#admin-article-detail-tpl(type="text/template")
  h4 <%=title%>
  p <%= summary%>
  p <%= body %>

script#admin-article-detail-edit-tpl(type="text/template")
  h4.ui.dividing.header Article Editing
  .two.fields
    .field
      input#title(type="text", value!="<%= title %>", placeholder="Title") 
    .field
      select#category
        option(value="", disabled=true, selected=true) Choose you category
        option(value="1") Category 1
        option(value="2") Category 2
        option(value="3") Category 3
  .field
    textarea#summary <%= summary %>
  .field
    textarea#body.editor <%= body %>

script#admin-article-create-tpl(type="text/template")
  h4.ui.dividing.header Article Creating
  .two.fields
    .field
      input#title(type="text", placeholder="Title") 
    .field
      select#category
        option(value="", disabled=true, selected=true) Choose you category
        option(value="1") Category 1
        option(value="2") Category 2
        option(value="3") Category 3
  .field
    textarea#summary
  .field
    textarea#body.editor