script#admin-article-tpl(type="text/template")
  h5 
    a(href!="/admin/articles/<%= id %>") <%= title %>
  p <%= summary %>

script#admin-articles-tpl(type="text/template")
  ul.collection

script#admin-article-detail-tpl(type="text/template")
  .container
    form.col.s12(action="#")
      .row
        .input-field.col.s8
          input#title(type="text", value!="<%= title %>") 
          label.active(for="title") 标题
      
        .input-field.col.s4
          label.active(for="category") 类别
          select#category
            option(value="", disabled=true, selected=true) 选择类别
            option(value="1") 类别1
            option(value="2") 类别2
            option(value="3") 类别3
      .row
        .input-field.col.s12
          textarea#summary.materialize-textarea <%= summary %>
          label.active(for="summary") 摘要
      .row
        .input-field.col.s12
          textarea#body.materialize-textarea.editor <%= body %>
      .row
        .input-field.col.s12
          button.btn.waves-effect.waves-light.right(name="save") 保存
            i.mdi-content-send.right
        
  