script#admin-articles-tpl(type="text/template")
  a.ui.button.edit.blue(href="/admin/articles/create") 
    i.add.icon
    | Create
  ul.ui.relaxed.items
  .ui.three.column.divided.grid
    .column
      p
    .column
      a.icon.button.left
        i.left.large.chevron.icon
      .ui.dropdown        
        .default.text 1/2
        i.dropdown.icon
        .menu
          .item 1
          .item 2  
      a.icon.button.right
        i.right.large.chevron.icon
    .column
      p

script#admin-article-tpl(type="text/template")
  .image
    img(src="/public/images/placeholder.png")
  .content
    a.ui.header(href!="/admin/articles/<%= id %>") 
      i.edit.icon
      | <%= title %>
    p.description <%= summary %>
    .ui.tiny.vertical.animated.red.button.delete
      .hidden.content 删除
      .visible.content
        i.large.trash.icon

script#admin-article-editor-tpl(type="text/template")
  .two.fields
    .field
      label Title
      input(name="title", type="text", placeholder="Title") 
    .field
      label Category
      select.ui.dropdown(name="category")
        option(value="") Choose you category
        | <% _.each(categories, function(category) { %>
        | <option value="<%= category.link %>"><%= category.name %></option>
        | <% }) %>
  .field
    label Summary
    textarea(name="summary")
  .field
    label Body
    textarea.editor(name="body")
  .ui.button.submit
    i.save.icon
    | 保存
  .ui.red.button.delete
    i.trash.icon
    | 删除
