script#admin-course-editor-tpl(type="text/template")
  .ui.segment
    form.ui.form

      fields
        .ui.header 基本信息
        .ui.divider
        .field
          label 课程名称
          input(name="title", type="text", placeholder="课程名称")
        .field
          label 课程内容
          select(name="category").ui.dropdown
            option(value="") 选择课程类别
            | <% _.each(categories, function(category) { %>
            | <option value="<%= category.link %>"><%= category.name %></option>
            | <% }) %>

        .field
          label 课程状态
          select(name="state").ui.dropdown
            option(value="OPEN") 开放
            option(value="IN_PROGRESS") 准备中
            option(value="FINISHED") 已结束

        .field
          label 上课形式
          select(name="approach").ui.dropdown
            option(value="") 选择课程类别
            option(value="ONE2ONE") 一对一在线辅导
            option(value="ONE2MANY") 在线课堂
            option(value="VIDEO") 在线视频
            option(value="OFFLINE") 线下课程

        .field
          label 授课老师
          select(name="consultant").ui.dropdown
            option(value="") 选择讲师
            | <% _.each(consultants, function(consultant) { %>
            | <option value="<%= consultant.link %>"><%= consultant.username %></option>
            | <% }) %>

        .ui.header 详细信息
        .ui.divider
        .field
          label 上课时间
          input(name="time", id= "courseTime", type="text", placeholder="时间")
        .field
          label 上课地点
          input(name="address", type="text", placeholder="地址")
        .field
          label 人数限制
          input(name="capacity", type="text", placeholder="人数")
        #videoPart.field
          label 视频链接
          input(name="videoLink", type="text", placeholder="视频链接")
        #groupAddress.field
          label QQ群地址
          input(name="groupAddress", type="text", placeholder="QQ群地址")


        .field
          label 课程简介
          textarea(name="description")

        .ui.button.submit
          i.save.icon
          | 保存

script#admin-course-tpl(type="text/template")
  .image
    img(src="/public/images/placeholder.png")
  .content
    a.ui.header(href!="/admin/courses/<%= id %>")
      i.edit.icon
      | <%= title %>
    p.description <%= description %>

script#admin-courses-tpl(type="text/template")
  a.ui.button.edit.blue(href="/admin/courses/create")
    i.add.icon
    | Create
  ul.ui.relaxed.items
