script#admin-course-editor-tpl(type="text/template")
  form.ui.form
    fields
      .six.wide.field
        label 课程名称
        input(name="name", type="text", placeholder="课程名称")
      .six.wide.field
        label 课程内容
        select#category.ui.dropdown
          option(value="") 选择课程类别
          | <% _.each(categories, function(category) { %>
          | <option value="<%= category.link %>"><%= category.name %></option>
          | <% }) %>

      .six.wide.field
        label 上课形式
        select#style.ui.dropdown
          option(value="") 选择课程类别
          option(value="1") 一对一在线辅导
          option(value="2") 在线课堂
          option(value="3") 线下课程

      .six.wide.field
        label 上课时间
        input(name="time", id= "courseTime", type="text", placeholder="时间")
      .six.wide.field
        label 上课地点
        input(name="address", type="text", placeholder="地址")
      .six.wide.field
        label 讲师
        select#consultant.ui.dropdown
          option(value="") 选择讲师
          | <% _.each(consultants, function(consultant) { %>
          | <option value="<%= consultant.link %>"><%= consultant.username %></option>
          | <% }) %>

      .six.wide.field
        label 人数限制
        input(name="capacity", type="text", placeholder="人数")
      #videoPart.six.wide.field
        label 视频链接
        input(name="video", type="text", placeholder="视频链接")
      .six.wide.field
        label 课程简介
        textarea(name="description")

      .ui.button.submit
        i.save.icon
        | 保存
