script#admin-headers-tpl(type="text/template")
  | <% _.each(items, function(item) { %>
  | <a class="item" href="<%= item.href %>">
  |   <i class="icon <%= item.icon %>"></i><%= item.name %>
  | </a>
  | <%}) %>

