script#admin-header-tpl(type="text/template")
  a.active.item(href="/admin")
    i.home.icon 
    | Home
  a.item(href="/admin/articles") Articles
  a.item(href="/admin/categories") Categories
  a.item(href="/admin/tests") Test

