script#admin-header-tpl(type="text/template")
  .nav-wrapper
    ul.left
      li
        a(href="/admin/articles") Articles
      li
        a(href="/admin/categories") Categories
      li
        a(href="/admin/tests") Tests

