.ui.centered.grid
	.twelve.wide.column
		.ui.stackable.grid
			.row
				.column
					img(src="/public/images/consultant/attention.png")
			.row
				.column
					.ui.basic.segment
						h2.ui.center.aligned.icon.header 
							i.small.help.icon
							.content 预约须知 
								.sub.header 让您更快更便捷地找到适合自己的心理咨询师
			.four.column.equal.height.stretched.row
				.red.column
					.ui.basic.segment
						p  如何找到值得信赖的咨询师？
				.pink.column
					.ui.basic.segment
						p 如何预约心理咨询师？
				.green.column
					.ui.basic.segment
						p 如何与心理咨询师确定咨询时间？
				.blue.column
					.ui.basic.segment
						p 如何支付费用？
			.row
				.column
					.ui.basic.segment
