.pure-g
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
		p {{expertises.[0].name}}
		p {{items.[0].realName}}
		p {{expertise}}
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
		p ggggggg
		p ggggggg
.pure.g
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
		p hehehehe
		p xixixix
		p hahaha
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
		p hehehehe
		p xixixix
		p hahaha
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
		p hehehehe
		p xixixix
		p hahaha
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
		p hehehehe
		p xixixix
		p hahaha
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
		p hehehehe
		p xixixix
		p hahaha
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
		p hehehehe
		p xixixix
		p hahaha
	.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
		p hehehehe
		p xixixix
		p hahaha
.pure-g
	.pureu-u-1
		#paging