.ui.page.grid
	.two.column.row
		.column
			.ui.segment
				h3.ui.header 在线心理咨询
				p 咨询话题:
				{{#each expertises}}
				a.expertise-link(href="/consultants/list/{{name}}"){{name}}
				{{/each}}
		.column
			img(src="/public/images/info.jpg")
