.row
  .six.wide.column#expertise
    .ui.basic.segment
      h3.ui.header 在线心理咨询
      p 咨询话题:
      .ui.secondary.menu
        a.item(href="/consultants") 所有
        {{#each expertises}}
        a.item(href="/consultants/list/{{name}}"){{name}}
        {{/each}}
  .six.wide.column
    a(href="/consultants/info/detail")
      img#attention(src="/public/images/consultantinfo.jpg")
.row
  .twelve.wide.column
      .ui.three.column.stackable.grid
        {{#each items}}
        .column
          .consultant.avatar
            {{#if avatar}}
            img.c-avatar(src="{{avatar}}")
            {{else}}
            img.c-avatar(src="/public/images/placeholder.png")
            {{/if}}
          .ui.basic.center.aligned.segment
            h3.ui.center.aligned.green.header {{realName}}
              .sub.header {{shorter_description about}}
            a.ui.green.basic.button(href="/consultants/{{id}}") 详情或预约
        {{/each}}
.row
  .center.aligned.column
    #paging
