.sixteen.wide.moblie.twelve.wide.tablet.twelve.wide.computer.column
  .row
    .column
      .ui.raised.segment
        .ui.header 预约心理咨询师
  .row
    .left.aligned.column
      .ui.items
  .row
    .center.aligned.column
      .ui.divider
      .ui.pagination.menu
        a.icon.item
          i.left.arrow.icon
        a.active.item 1
        a.item ...
        a.item 10
        a.item 11
        a.item 12
        a.icon.item
          i.right.arrow.icon