.two.fields
  .field
    label 预约人
    .ui.left.icon.input
      input(type="text", name="username")
      i.user.icon
  .field
    label 咨询师
    .ui.left.icon.input
      input(type="text", name="consultantname")
      i.user.icon
.field
  label 详细记录
  textarea(name="summary")
.ui.red.button.submit
  i.save.icon
  | 保存