.two.fields
  .field
    label 客户
    .ui.left.icon.input
      input(type="text", name="username", value="{{ username }}")
      i.user.icon
  .field
    label 咨询师
    .ui.left.icon.input
      input(type="text", name="consultantname", value="{{ consultantname }}")
      i.user.icon
.field
  label 详细记录
  textarea(name="summary", value="{{ summary }}")
.ui.red.button.submit
  i.save.icon
  | 保存