#detail.organization
  .ui.centered.stackable.grid
    .body.ten.wide.column
      #content.basic.ui.segment
        .ui.three.column.grid
          .column
            img.ui.image(src="{{organization.avatar}}")
        h2.ui.header.title {{organization.realName}}
        p {{organization.about}}
        .ui.divider
        .ui.secondary.pointing.menu
          a.active.item
            h3
              |我们的文章
        #blogList.ui.divided.items
          |{{#each blogs}}
          .ui.item
            .content
              a.header(href="/blogs/{{id}}") {{title}}
              .summary {{summary}}
          |{{/each}}
        #pagnationWrapper
          #pagnation
