#form.organization
  .ui.segment
    h3.header 请填写机构真实信息，我们会在线下通过电话来联系您提交的信息
    .ui.form#applyForm
      .field
        label 机构名称
      .field
        label 机构地址
      .field
        label 联系人
      .field
        lable 电话
      .field
        label 电子邮件
      .button.submit 提 交

