#apply.organization
  .ui.centered.stackable.grid
    .body.eight.wide.column
      .ui.segment
        .ui.form#applyForm
          .field
            h3.header 请填写机构真实信息，我们会在线下联系您验证所提交的信息
          .field
            label 机构名称
            input(name="realName",type="text",placeholder="机构名称")
          .field
            label 机构地址
            input(name="address",type="text",placeholder="详细地址")
          .field
            label 联系人
            input(name="contact",type="text",placeholder="联系人")
          .field
            label 联系电话
            input(name="mobile",type="text",placeholder="联系电话")
          .field
            label 电子邮件
            input(name="email",type="text",placeholder="电子邮件")
          .field
            label 机构介绍
            textarea(name="about")
          .ui.centered.grid#submitContainer
            .eight.wide.column
              .ui.big.green.button.submit.fluid 提 交

