#home.organization
  .ui.centered.stackable.grid
    .body.eight.wide.column
      #content.basic.ui.segment
        .ui.grid
          .column
            img.ui.image#moduleImage(src="/public/images/organization.jpg")
            .ui.secondary.pointing.menu
              a.active.item
                h2
                  |心理机构
        #orgList.ui.three.column.stackable.grid
          |{{#each organizations}}
          .column
            .ui.basic.segment
              img.ui.fluid.image(src="{{avatar}}")
              .org.link
                h3
                  a.title(href="/organizations/{{id}}") {{realName}}
          |{{/each}}
        #pagnationWrapper
          #pagnation
    .sidebar.four.wide.column
      .ui.basic.segment
        .ui.grid
          .column
            .ui.basic.segment#addContainer
              p
                h3 申请机构用户，加入心理圈！
              #addBtn
                .ui.fluid.green.button#adding 申 请
