#home.organization
  .ui.centered.stackable.grid
    .body.eight.wide.column
      h2
        |this is organization body
      #pagnationWrapper
        #pagnation
    .sidebar.four.wide.column
      h2
        |this is organization side bar.
