#create.question
  lael.module 你问我答
  .ui.form
    #QTitle
      span
        label 问题
      input#title
    #QDescription
      label 问题详细描述
      textarea#description
    #tagsInput
    #submit.ui.button
