|{{#if tag}}
h2 {{tag}}
|{{/if}}
.ui.divided.items
  |{{#each questions}}
  .item
    .ui.tiny.image.createdby
      img(src="{{author.avatar}}")
    .content
      a(href="/questions/{{id}}") {{title}}
      .meta(style="padding-top:10px;")
        span.author 来自：{{author.username}}
        span.createdAt 时间：{{createdDate.year}}-{{createdDate.monthOfYear}}-{{createdDate.dayOfMonth}}
        span.numberAnswer 已回答：{{numberOfAnswers}}
      .description
        p {{description}}
  |{{/each}}
