#home.question
  .ui.centered.divided.grid
    .eight.wide.column
      .basic.ui.segment
        #popular
        #cats
        #questions
        #pagnation
    .four.wide.column
      .basic.ui.segment
        #create
        #tags


