.comment
  a.avatar
    |{{#if createdBy.avatar}}
    img(src="{{createdBy.avatar}}")
    |{{else}}
    img(src="/public/images/placeholder.png")
    |{{/if}}
  .content
    a.author {{createdBy.username}}
    .metadata {{lastModifiedDate.year}}-{{lastModifiedDate.monthOfYear}}-{{lastModifiedDate.dayOfMonth}}
    .text
      p {{comment}}
