.ui.centered.divided.grid
  .eight.wide.column
    .basic.ui.segment
      .ui.header
        h2 {{course.title}}
      img.ui.fluid.image(src="{{course.cover}}")
      p
      |{{course.description}}
      |{{course.embeddedVideo}}
      .ui.divider(style="margin-top:50px;")
      #comments(style="margin-top:20px;")
        h3
          a 发表留言
        .ui.form
          textarea#comment
          .ui.small.submit.green.button(style="float:right;margin-top:15px;") 提交
        #commentsList(style="clear:both;margin-top:100px;")
          .ui.comments
            |{{#each comments}}
            .comment
              a.avatar
                |{{#if createdBy.avatar}}
                img(src="{{createdBy.avatar}}")
                |{{else}}
                img(src="/public/images/placeholder.png")
                |{{/if}}
              .content
                a.author {{createdBy.username}}
                .metadata {{lastModifiedDate.year}}-{{lastModifiedDate.monthOfYear}}-{{lastModifiedDate.dayOfMonth}}
                .text
                  p {{comment}}
            |{{/each}}
  .four.wide.column
    .basic.ui.segment
      .ui.header
        h3 最热心理课程
      .ui.list
        |{{#each courses}}
        .item
          .content
            .header
              a(href="/courses/{{id}}") {{title}}
            .course-meta [{{category.name}}] 更新时间：{{lastModifiedDate.year}}-{{lastModifiedDate.monthOfYear}}-{{lastModifiedDate.dayOfMonth}}  注册数：{{registered}}
        |{{/each}}



