#fullPage.course
  #first.section
    .ui.stackable.grid
      .slider.row.centered
        .twelve.wide.column
          #slider.flexslider
            ul.slides
              |{{#each slider}}
              li
                a(href="/courses/{{id}}")
                  |<img src="{{cover}}">
              |{{/each}}
      .row.centered
        .twelve.wide.column
          h2.ui.header 心理课程
      .category.row.centered
        .twelve.wide.column
          #topCats
            label 受众人群
            |{{#each top}}
            .top.ui.small.basic.button(id="{{id}}") {{name}}
            |{{/each}}
          #subCats
            label 内容类别
            |{{#each sub}}
            .sub.ui.small.basic.button(id="{{id}}") {{name}}
            |{{/each}}
          #approach
            label 授课方式
            |{{#each approach}}
            .approach.ui.small.basic.button(href="{{href}}") {{name}}
            |{{/each}}
      .twelve.wide.column.centered
        .ui.divider
      #videos.twelve.wide.column.centered
        .ui.three.column.stackable.grid
          |{{#each videos}}
          .column
            .ui.basic.segment
              img.ui.fluid.image(src="{{cover}}")
              .course.title.link
                h4
                  a.title(href="/courses/{{id}}") {{title}}
          |{{/each}}
      .two.column.centered.row
        .centered.column#videoWrapper
          #pagenation-video.pagenation
      .twelve.wide.column.centered
        .ui.divider
  #second.section
    .ui.stackable.grid
      .twelve.wide.column.centered
        img.ui.fluid.image(src="/public/images/room-course-reporter.png")
        h1.reporter.title "还想要点别的？"
      #room.twelve.wide.column.centered
        .ui.four.column.stackable.grid
          |{{#each room}}
          .column
            .ui.basic.segment
              img.ui.fluid.image(src="/static/img/1.jpg")
              .course.title.link
                h5
                  a.title(href="/courses/{{id}}") {{title}}
              p.course.content {{description}}
              .regBtn(style="text-align:center;padding-top:20px;")
                .room.reg.ui.green.tiny.basic.button(data-id="{{id}}") 加 入
          |{{/each}}
      .two.column.centered.row
        .centered.column#roomWrapper
          #pagenation-room.pagenation
      .twelve.wide.centered.column
        .ui.divider
      #offline.twelve.wide.centered.column
        .ui.two.column.stackable.grid
          .column
            .ui.basic.segment
              img.ui.fluid.image(src="/public/images/offline-course.png")
          .column
            .ui.basic.segment
              .ui.stackable.grid
                |{{#each offline}}
                .three.column.row
                  .ten.wide.column
                    h5
                      a.title(href="/courses/{{id}}") {{title}}
                    .offline.meta
                      label 开课时间 {{date}}
                      label#reg 已注册 {{registered}} 人
                  .column
                    .offline.reg.ui.basic.tiny.green.button(data-id="{{id}}") 加 入
                |{{/each}}

