.image
  img(src="/public/images/placeholder.png")
.content
  a.header <%= title %>
  .meta
    span 咨询师链接
  .description
    p <%= description %>
  .extra
    .ui.label 状态
    a.ui.label(href!="/courses/<%= id %>/reg") 注册课程