.ui.two.column.grid
  .column
    .ui.basic.segment
      img.ui.fluid.image(src="/public/images/offline-course.png")
  .column
    .ui.basic.segment
      .ui.grid
        |{{#each offline}}
        .three.column.row
          .ten.wide.column
            h5
              a.title(href="/courses/{{id}}") {{title}}
            .offline.meta
              label 开课时间 {{date}}
              label#reg 已注册 {{registered}} 人
          .column
            a.reg.ui.basic.tiny.purple.button(href="/courses/{{id}}/regoffline") 加 入
        |{{/each}}
