.ui.four.column.grid
  |{{#each room}}
  .column
    .ui.basic.segment
      img.ui.fluid.image(src="/static/img/1.jpg")
      .course.title.link
        h5
          a.title(href="/courses/{{id}}") {{title}}
      p.course.content {{description}}
      .regBtn(style="text-align:center;padding-top:20px;")
        a.reg.ui.purple.tiny.basic.button(href="/courses/{{id}}/regroom") 加 入
  |{{/each}}
