@import 'bower_components/semantic-ui/src/semantic.less';

main {
  display: block;
  min-height: 500px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-bottom: 150px;
}

.jumbotron {
  background-image: url(/public/images/bg.jpg);
  background-size: cover;
}

.ui.grid.jumbotron .dialogue{
  padding-top:4rem;
}

body {
  padding-top: 0rem;
}

content-holder{
  height: auto; 
  min-height: 100%;
}

#header {
  margin-top: 0rem;
  height: 3rem;
}


#header, #footer {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-device-width: 480px) {
  #main {
    width: 100%;
    margin: 0 auto;
  }  
  .right.rail {
    display: none;
  }
  .container {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (min-device-width: 480px) {
  #main {
    width: 100%;
    margin: 0 auto;
  } 
  .container {
    width: ~"calc(100% - 325px)";
    position: relative;
    margin: 0 auto;
  }
  #categroynav {
    //display: none;
  }
}

article {
  padding: 1rem;
}

.froala-view {
  min-height: 10rem;
}

.test-item-option-selected {
  background-color:#f0f0f0;
}
