main {
  display: block;
  min-height: 450px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-bottom: 0px;
}

.jumbotron {
  background-image: url(/public/images/site1.jpg);
  background-size: cover;
}

.ui.grid.jumbotron .dialogue{
  padding-top:16rem;
}

#header {
  margin-top: 0rem;
  //height: 3rem;
}

#header, #footer {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-device-width: 480px) {
  #main {
    width: 100%;
    margin: 0 auto;
  }
  .right.rail {
    display: none;
  }
  .container {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (min-device-width: 480px) {
  #main {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem
  }
  .container {
    width: ~"calc(100% - 325px)";
    position: relative;
    margin: 0 auto;
  }
  .jumbotron {
    height: 400px;
  }
  .dialogue {
    padding-top: 8rem;
  }
}

article {
  padding: 1rem;
}

.froala-view {
  min-height: 10rem;
}


.psychtest {
  max-width: 960px;
  margin: 0 auto;
}

ul.course-categories {
  list-style:none;
  line-height:2;
}


.ui.form.psychtest .inline.fields {
  margin : 0;
}

.nav-horizontal .nav-link {
  display: inline-block;
  vertical-align: middle;
}

.nav-horizontal .nav-link:hover{
  background: #313233;
  color: #1AA59E;
}

.nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1em;
  padding-bottom: 1rem;
  color: #FEFFFF;
}

#colored-bar {
  line-height: 6px;
  background: #1AA69E;
  position: relative;
}

.footer-view {
  background: #D8E0E4;
  padding-top: 3rem;
  margin: 0 auto;
}

.region-summary {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#consultant-desc, #expertise {
  background: #F5F5F6;
}

.course .pagenation {
  text-align: center;
}

.course .category label {
  margin-right:20px;
}

.course.title.link {
  text-align:center;
  padding-top:20px;
}

.course a.title {
  color:purple;
}

h1.reporter.title{
  text-align:center;
  margin-top:30px;
  margin-bottom:20px;
  font-weight:bold;
}

#subCats, #approach, #videos {
  margin-top:10px;
}

p.course.content {
  padding:20px 0;
}

#room .reg {
  text-align:center;
  padding-top:20px;
}

.course .offline.meta {
  label {
    padding-right:30px;
  }
}
