main {
  display: block;
}

@media only screen and (max-width : 1025px) {
  .disable-container-on-small.container {
    padding: 0;
    width: auto;
  }
}

.dionysus-card-action {
  &.card-action {
    padding: 1rem;
  }
  a.btn {
    transition-property: all;
    margin: 0;
    color: white;
  }
}
