#home.question {
  #cats {
    padding-top:20px;
    margin-bottom:30px;
    .button {
      margin-right:30px;
    }
  }
  #questions {
    padding-top:15px;
  }
  #pagnationWrapper {
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
  }

  .item .meta span {
    margin-right:20px;
  }

  #create {
    background:#F5F5F6;
    padding-top:10px;
    padding-bottom:30px;
  }
  #createBtn {
    text-align:center;
    margin-top:30px;
  }

  #tags {
    margin-top:40px;
  }

  .button.tag {
    margin-top:5px;
  }
}

#create.question #submit {
  float:right;
  margin-top:30px;
  margin-bottom:20px;
}

#detail.question  {
  .description {
    margin-top:20px;
  }

  #from {
    margin-right:20px;
  }

  #comments {
    margin-top:20px;
    #submit {
      float:right;
      margin-top:15px;
    }
    #answers {
      clear:both;
      margin-top:100px;
    }
  }
}
