doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    meta(name="description",  content="")
    meta(name="viewport",     content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;")
    link(rel="shortcut icon", href="/favicon.ico")

    // build:css({.,.tmp}) /styles/admin.css
    link(rel="stylesheet", href="/bower_components/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", href="/styles/semantic.css")
    link(rel="stylesheet", href="/styles/main.css")
    // endbuild
  body.dionysus
    main#main(style="width:80%")

  include ./jade/_library

  script(src="/public/langs/zh_cn.js")

  // build:js({app,.tmp}) /scripts/admin/app.js
  script(src="/templates/precompiled.handlebars.admin.js")
  script(src="/scripts/app.js")
  script(src="/scripts/admin/admin.js")

  // endbuild

  script
    | Dionysus.start();
