doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    meta(name="description",  content="")
    meta(name="viewport",     content="width=device-width")
    link(rel="shortcut icon", href="/favicon.ico")

    // build:css({.,.tmp}) /styles/admin/main.css
    link(rel="stylesheet", href="/bower_components/materialize/bin/materialize.css")
    link(rel="stylesheet", href="/bower_components/froala/css/font-awesome.css")
    link(rel="stylesheet", href="/bower_components/froala/css/froala_editor.css")
    link(rel="stylesheet", href="/bower_components/froala/css/froala_style.css")
    link(rel="stylesheet", href="/styles/main.css")
    // endbuild
  body.dionysus
    include ./jade/admin-layout

  include ./jade/_library

  // build:js /scripts/froala_editor.js
  script(src="/bower_components/froala/js/froala_editor.min.js")
  script(src="/bower_components/froala/js/langs/zh_cn.js")
  // endbuild

  // build:js({app,.tmp}) /scripts/admin/app.js
  script(src="/scripts/app.js")
  script(src="/scripts/admin/admin.js")
  script(src="/scripts/admin/articles.js")
  script(src="/scripts/boot.js")
  // endbuild