doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    meta(name="description",  content="")
    meta(name="viewport",     content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;")
    link(rel="shortcut icon", href="/favicon.ico")

    // build:css({.,.tmp}) /styles/admin.css
    link(rel="stylesheet", href="/bower_components/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", href="/bower_components/froala/css/froala_editor.css")
    link(rel="stylesheet", href="/bower_components/froala/css/froala_style.css")
    link(rel="stylesheet", href="/bower_components/toastr/toastr.css")
    link(rel="stylesheet", href="/bower_components/datetimepicker/jquery.datetimepicker.css")
    link(rel="stylesheet", href="/styles/pagination.css")
    link(rel="stylesheet", href="/styles/semantic.css")
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/bower_components/jquery.tagsinput/src/jquery.tagsinput.css")
    link(rel="stylesheet", href="/bower_components/jquery-autocomplete/autocomplete.css")
    // endbuild
  body.dionysus
    include ./jade/admin-layout

  include ./jade/_library

  // build:js(.) /scripts/admin/froala_editor.js
  script(src="/bower_components/froala/js/froala_editor.min.js")
  script(src="/bower_components/froala/js/plugins/video.min.js")
  script(src="/bower_components/froala/js/plugins/colors.min.js")
  script(src="/bower_components/froala/js/plugins/font_family.min.js")
  script(src="/bower_components/froala/js/plugins/font_size.min.js")
  script(src="/bower_components/froala/js/plugins/block_styles.min.js")
  script(src="/bower_components/froala/js/plugins/lists.min.js")
  script(src="/bower_components/froala/js/plugins/tables.min.js")
  script(src="/bower_components/froala/js/plugins/block_styles.min.js")
  script(src="/bower_components/froala/js/plugins/inline_styles.min.js")
  script(src="/bower_components/froala/js/plugins/urls.min.js")
  script(src="/bower_components/froala/js/plugins/file_upload.min.js")
  script(src="/scripts/froala_audio.js")
  // endbuild

  script(src="/public/langs/zh_cn.js")
  script
    | $.Editable.DEFAULTS.key = 'ZqordtponD3fveuvA6kfg==';

  // build:js({app,.tmp}) /scripts/admin/app.js
  script(src="/templates/precompiled.handlebars.admin.js")
  script(src="/scripts/app.js")
  script(src="/scripts/hal/articles.js")
  script(src="/scripts/hal/blog.js")
  script(src="/scripts/common/entity.js")
  script(src="/scripts/common/article.js")
  script(src="/scripts/common/category.js")
  script(src="/scripts/common/course.js")
  script(src="/scripts/common/consultant.js")
  script(src="/scripts/common/appointment.js")
  script(src="/scripts/common/psychoprofile.js")
  script(src="/scripts/common/menu.js")
  script(src="/scripts/common/header.js")
  script(src="/scripts/common/chatRoom.js")  
  script(src="/scripts/admin/admin.js")
  script(src="/scripts/admin/article-management.js")
  script(src="/scripts/admin/category-management.js")
  script(src="/scripts/admin/course-management.js")
  script(src="/scripts/admin/coursesummary.js")
  script(src="/scripts/admin/appointment-management.js")
  script(src="/scripts/admin/consultant-management.js")
  script(src="/scripts/admin/tests.js")
  script(src="/scripts/admin/chatRoom-management.js")
  script(src="/scripts/modules/commonUtils.js")
  // endbuild

  script
    | Dionysus.start();
