doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    meta(name="description",  content="")
    meta(name="viewport",     content="width=device-width")
    link(rel="shortcut icon", href="/favicon.ico")

    // build:css({.,.tmp}) /styles/consultant.css
    link(rel="stylesheet", href="/bower_components/materialize/bin/materialize.css")
    link(rel="stylesheet", href="/styles/main.css")
    // endbuild
  body
    h1 This is consultant page

  include ./jade/_library

  // build:js({app,.tmp}) /scripts/consultant/app.js
  script(src="/scripts/consultant/consultant.js")
  // endbuild