doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    meta(name="description",  content="")
    meta(name="viewport",     content="width=device-width")
    link(rel="shortcut icon", href="/favicon.ico")

    // build:css({.,.tmp}) /styles/main.css
    link(rel="stylesheet", href="/styles/semantic.css")
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/bower_components/datetimepicker/jquery.datetimepicker.css")
    link(rel="stylesheet", href="/bower_components/flexslider/flexslider.css")
    // endbuild

    title Dionysus
  body.dionysus
    include ./jade/layout

  include ./jade/_library

  // build:js({app,.tmp}) /scripts/app.js
  script(src="/templates/precompiled.handlebars.home.js")
  script(src="/scripts/app.js")
  script(src="/scripts/modules/commonUtils.js")
  script(src="/scripts/modules/layoutviews.js")  
  script(src="/scripts/hal/domain.js")
  script(src="/scripts/hal/psychtests.js")
  script(src="/scripts/common/entity.js")
  script(src="/scripts/common/article.js")
  script(src="/scripts/common/module.js")
  script(src="/scripts/common/menu.js")
  script(src="/scripts/common/header.js")
  script(src="/scripts/common/appointment.js")
  script(src="/scripts/common/user.js")
  script(src="/scripts/common/course.js")
  script(src="/scripts/common/category.js")
  script(src="/scripts/consultant/consultant.js")
  script(src="/scripts/modules/home.js")
  script(src="/scripts/modules/about.js")
  script(src="/scripts/modules/account.js")
  script(src="/scripts/modules/article.js")
  script(src="/scripts/modules/category.js")
  script(src="/scripts/modules/site.js")
  script(src="/scripts/modules/consultant.js")
  script(src="/scripts/modules/test.js")
  script(src="/scripts/modules/appointment.js")
  script(src="/scripts/modules/profile.js") 
  script(src="/scripts/modules/appointment.js")
  script(src="/scripts/modules/error.js")
  script(src="/scripts/modules/course.js")

  // endbuild
  
  script
    | Dionysus.start();
