html
  header
    link(rel="stylesheet", href="../../bower_components/semantic-ui/dist/semantic.min.css")
    script(src="../../bower_components/jquery/dist/jquery.min.js")
    script(src="../../bower_components/semantic-ui/dist/semantic.min.js")
  body(style="width:996;margin:auto;")
    .ui.fixed.inverted.purple.menu(style="height:55;padding-top:20;")
      .ui.one.column.page.grid
        ui.title.item
          p(style="color:#FFF;text-align:center;") 顶部导航菜单
    .ui.two.column.centered.grid(style="margin-top:60;")
      .twelve.wide.column
        .ui.segment(style="padding:50;")
          .ui.vertical.segment
            h3
              a 线上辅导
            .ui.grid(style="margin-top:20;")
              .row
                .weight.wide.column
                  .item
                    .ui.small.image(style="float:left;margin-right:20;")
                      img(src="./img/1.jpg")
                    .middle.aligned.content
                      h5
                        a 如何做个好的CEO
                    .content(style="margin-top:8;")
                      p(style="font-size:12px") 如果你是一个创业公司的CEO，你应该如何思考公司的日常运营呢？如果你是一个有10000员工的大型上市公司的CEO，你应该如何思考日藏运营？
                .weight.wide.column
                  .item
                    .ui.small.image(style="float:left;margin-right:20;")
                      img(src="./img/2.jpg")
                    .middle.aligned.content
                      h5
                        a 如何追求内心的平静
                    .content(style="margin-top:8;")
                      p(style="font-size:12px") 现代社会，生活节奏快，生活压力大，人们很容易内心急躁，火气普遍很大，如何在这种情况下获得内心的平静呢？
              .row
                .weight.wide.column
                  .ui.link.list
                    a.item(style="font-size:12px") 让我们发展纯粹的金钱关系吧老板
                    a.item(style="font-size:12px") 最励志故事：一千万的故事，无价的人生
                    a.item(style="font-size:12px") 最该学习的职场工作习惯是什么？
                .weight.wide.column
                  .ui.link.list
                    a.item(style="font-size:12px") ·互联网时代，什么是我们最稀缺的能力？
                    a.item(style="font-size:12px") 为什么我们有时候会幸灾乐祸？
                    a.item(style="font-size:12px") 抑郁：一个人的战争
          .ui.vertical.segment
            h3
              a 离线课程
            .ui.grid(style="margin-top:20;")
              .row
                .weight.wide.column
                  .item
                    .ui.small.image(style="float:left;margin-right:20;")
                      img(src="./img/3.jpg")
                    .middle.aligned.content
                      h5
                        a 如何做个好的CEO
                    .content(style="margin-top:8;")
                      p(style="font-size:12px") 如果你是一个创业公司的CEO，你应该如何思考公司的日常运营呢？如果你是一个有10000员工的大型上市公司的CEO，你应该如何思考日藏运营？
                .weight.wide.column
                  .item
                    .ui.small.image(style="float:left;margin-right:20;")
                      img(src="./img/4.jpg")
                    .middle.aligned.content
                      h5
                        a 如何追求内心的平静
                    .content(style="margin-top:8;")
                      p(style="font-size:12px") 现代社会，生活节奏快，生活压力大，人们很容易内心急躁，火气普遍很大，如何在这种情况下获得内心的平静呢？
              .row
                .weight.wide.column
                  .ui.link.list
                    a.item(style="font-size:12px") 让我们发展纯粹的金钱关系吧老板
                    a.item(style="font-size:12px") 最励志故事：一千万的故事，无价的人生
                    a.item(style="font-size:12px") 最该学习的职场工作习惯是什么？
                .weight.wide.column
                  .ui.link.list
                    a.item(style="font-size:12px") ·互联网时代，什么是我们最稀缺的能力？
                    a.item(style="font-size:12px") 为什么我们有时候会幸灾乐祸？
                    a.item(style="font-size:12px") 抑郁：一个人的战争
          .ui.vertical.segment
            h3
              a 在线课堂
            .ui.grid(style="margin-top:20;")
              .row
                .weight.wide.column
                  .item
                    .ui.small.image(style="float:left;margin-right:20;")
                      img(src="./img/5.jpg")
                    .middle.aligned.content
                      h5
                        a 如何做个好的CEO
                    .content(style="margin-top:8;")
                      p(style="font-size:12px") 如果你是一个创业公司的CEO，你应该如何思考公司的日常运营呢？如果你是一个有10000员工的大型上市公司的CEO，你应该如何思考日藏运营？
                .weight.wide.column
                  .item
                    .ui.small.image(style="float:left;margin-right:20;")
                      img(src="./img/6.jpg")
                    .middle.aligned.content
                      h5
                        a 如何追求内心的平静
                    .content(style="margin-top:8;")
                      p(style="font-size:12px") 现代社会，生活节奏快，生活压力大，人们很容易内心急躁，火气普遍很大，如何在这种情况下获得内心的平静呢？
              .row
                .weight.wide.column
                  .ui.link.list
                    a.item(style="font-size:12px") 让我们发展纯粹的金钱关系吧老板
                    a.item(style="font-size:12px") 最励志故事：一千万的故事，无价的人生
                    a.item(style="font-size:12px") 最该学习的职场工作习惯是什么？
                .weight.wide.column
                  .ui.link.list
                    a.item(style="font-size:12px") ·互联网时代，什么是我们最稀缺的能力？
                    a.item(style="font-size:12px") 为什么我们有时候会幸灾乐祸？
                    a.item(style="font-size:12px") 抑郁：一个人的战争
          .ui.vertical.segment(style="margin-bottom:20;")
            h3
              a 视频课程
            .ui.grid(style="margin-top:20;")
              .row
                .weight.wide.column
                  .item
                    .ui.small.image(style="float:left;margin-right:20;")
                      img(src="./img/1.jpg")
                    .middle.aligned.content
                      h5
                        a 如何做个好的CEO
                    .content(style="margin-top:8;")
                      p(style="font-size:12px") 如果你是一个创业公司的CEO，你应该如何思考公司的日常运营呢？如果你是一个有10000员工的大型上市公司的CEO，你应该如何思考日藏运营？
                .weight.wide.column
                  .item
                    .ui.small.image(style="float:left;margin-right:20;")
                      img(src="./img/2.jpg")
                    .middle.aligned.content
                      h5
                        a 如何追求内心的平静
                    .content(style="margin-top:8;")
                      p(style="font-size:12px") 现代社会，生活节奏快，生活压力大，人们很容易内心急躁，火气普遍很大，如何在这种情况下获得内心的平静呢？
              .row
                .weight.wide.column
                  .ui.link.list
                    a.item(style="font-size:12px") 让我们发展纯粹的金钱关系吧老板
                    a.item(style="font-size:12px") 最励志故事：一千万的故事，无价的人生
                    a.item(style="font-size:12px") 最该学习的职场工作习惯是什么？
                .weight.wide.column
                  .ui.link.list
                    a.item(style="font-size:12px") ·互联网时代，什么是我们最稀缺的能力？
                    a.item(style="font-size:12px") 为什么我们有时候会幸灾乐祸？
                    a.item(style="font-size:12px") 抑郁：一个人的战争
      .four.wide.column
        .ui.segment
          a.ui.purple.right.ribbon.label 课程内容
          .ui.divider
          .ui.link.list
            a.active.item(style="text-align:center;margin-bottom:5;font-size:1.4em;") 职场发展
            a.item(style="text-align:center;margin-bottom:5;font-size:1.1em;") 两性心理
            a.item(style="text-align:center;margin-bottom:5;font-size:1.1em;") 亲子活动
            a.item(style="text-align:center;margin-bottom:5;font-size:1.1em;") 情绪管理
            a.item(style="text-align:center") 心理百科
        .ui.segment
          a.ui.purple.right.ribbon.label 热门标签
          .ui.divider
          .part1
            a.ui.purple.label(style="margin-right:10;") 爱情
            a.ui.green.label(style="margin-right:10;") 心灵
            a.ui.blue.label(style="margin-right:10;") 情绪管理
          .part2(style="margin-top:10;")
            a.ui.black.label(style="margin-right:10;") 发泄
            a.ui.teal.label(style="margin-right:10;") 悄悄话
            a.ui.orange.label 专业





