html
  header
    link(rel="stylesheet", href="../../bower_components/semantic-ui/dist/semantic.min.css")
    script(src="../../bower_components/jquery/dist/jquery.min.js")
    script(src="../../bower_components/semantic-ui/dist/semantic.min.js")
  body(style="width:996;margin:auto;")
    .ui.fixed.inverted.purple.menu(style="height:55;padding-top:20;")
      .ui.one.column.page.grid
        ui.title.item
          p(style="color:#FFF;text-align:center;") 顶部导航菜单
    .ui.two.column.centered.grid(style="margin-top:60;")
      .twelve.wide.column
        .ui.segment(style="padding:50;")
          h2
            a 如何做个好的CEO?
          .ui.grid
            .three.wide.column
              .ui.label 发布时间
            .four.wide.column
              .ui.label 状态
          img(src="./img/1-big.jpg" style="margin-top:25;")
          .ui.divider
          h3
            a 课程介绍
          .content
            p 课程专门针对企业管理的高管人士，尤其是CEO，通过大量的真实案例和邀请真正的CEO来现身说法。。。
          .ui.divider
          h3
            a 授课老师及特邀嘉宾介绍
          .consultant(style="padding-top:20")
            .ui.divided.items
              .item
                .ui.tiny.image
                  img(src="./img/consultant.jpg")
                .content
                  p(style="font-size:12px") 八年大型上市企业高管经验，汇心网资深讲师，尤其在公司战略，企业文化方面有着很深的认识和及其丰富的经验
              .item
                .ui.tiny.image
                  img(src="./img/consultant.jpg")
                .content
                  p(style="font-size:12px") 八年大型上市企业高管经验，汇心网资深讲师，尤其在公司战略，企业文化方面有着很深的认识和及其丰富的经验
          .ui.divider
          h3
            a 授课时间与地点
          .ui.divider
          .big.ui.purple.button 注册

      .four.wide.column
        .ui.segment
          a.ui.purple.right.ribbon.label 更多热门课程
          .ui.divider
          .ui.link.list
              .active.item(style="margin-bottom:5;font-size:1.1em;")
                a 如何控制自己？
                span(style="float:right;")
                  i.caret.right.icon
              .item(style="margin-bottom:5;font-size:1.1em;")
                a 如何做个慈父严母？
                span(style="float:right;")
                  i.caret.right.icon
              .item(style="margin-bottom:5;font-size:1.1em;")
                a 如何让自己内心平静？
                span(style="float:right;")
                  i.caret.right.icon
              .item(style="margin-bottom:5;font-size:1.1em;")
                a 如何克服拖延症？
                span(style="float:right;")
                  i.caret.right.icon
        .ui.segment
          a.ui.purple.right.ribbon.label 热门标签
          .ui.divider
          .part1
            a.ui.purple.label(style="margin-right:10;") 爱情
            a.ui.green.label(style="margin-right:10;") 心灵
            a.ui.blue.label(style="margin-right:10;") 情绪管理
          .part2(style="margin-top:10;")
            a.ui.black.label(style="margin-right:10;") 发泄
            a.ui.teal.label(style="margin-right:10;") 悄悄话
            a.ui.orange.label 专业





