html
  header
    link(rel="stylesheet", href="../../bower_components/semantic-ui/dist/semantic.min.css")
    script(src="../../bower_components/jquery/dist/jquery.min.js")
    script(src="../../bower_components/semantic-ui/dist/semantic.min.js")
  body(style="width:996;margin:auto;")
    .ui.fixed.inverted.purple.menu(style="height:55;padding-top:20;")
      .ui.one.column.page.grid
        ui.title.item
          p(style="color:#FFF;text-align:center;") 顶部导航菜单
    .ui.two.column.centered.grid(style="margin-top:60;")
      .twelve.wide.column
        form.ui.form.segment
          h3
            a 请填写您的真实信息
          .ui.divider
          .two.fields
            .field
              label 姓名
              input(type="text" name="name" placeholder="")
            .field
              label 性别
              .ui.selection.dropdown
                input(type="hidden" name="gender")
                .default.text 性别
                i.dropdown.icon
                .menu
                  .item(data-value="male") 男
                  .item(data-value="female") 女

      .four.wide.column
        .ui.segment
          a.ui.purple.right.ribbon.label 课程内容
          .ui.divider
          .ui.link.list
            a.active.item(style="text-align:center;margin-bottom:5;font-size:1.4em;") 职场发展
            a.item(style="text-align:center;margin-bottom:5;font-size:1.1em;") 两性心理
            a.item(style="text-align:center;margin-bottom:5;font-size:1.1em;") 亲子活动
            a.item(style="text-align:center;margin-bottom:5;font-size:1.1em;") 情绪管理
            a.item(style="text-align:center") 心理百科
        .ui.segment
          a.ui.purple.right.ribbon.label 热门标签
          .ui.divider
          .part1
            a.ui.purple.label(style="margin-right:10;") 爱情
            a.ui.green.label(style="margin-right:10;") 心灵
            a.ui.blue.label(style="margin-right:10;") 情绪管理
          .part2(style="margin-top:10;")
            a.ui.black.label(style="margin-right:10;") 发泄
            a.ui.teal.label(style="margin-right:10;") 悄悄话
            a.ui.orange.label 专业