html
  header
    link(rel="stylesheet", href="../../bower_components/semantic-ui/dist/semantic.min.css")
    script(src="../../bower_components/jquery/dist/jquery.min.js")
    script(src="../../bower_components/semantic-ui/dist/semantic.min.js")
  body(style="width:996;margin:auto;")
    .ui.fixed.inverted.purple.menu(style="height:55;padding-top:20;")
      .ui.one.column.page.grid
        ui.title.item
          p(style="color:#FFF;text-align:center;") 顶部导航菜单
    .ui.two.column.centered.grid(style="margin-top:60;")
      .twelve.wide.column
        form.ui.form.segment(style="padding-left:30;padding-right:30;padding-top:50;padding-bottom:30;")
          h3
            a 请填写您的真实信息
          .ui.divider(style="margin-top:20;")
          .two.fields
            .field
              h4
                label 课程
              input(type="text" name="name" disabled="disabled" value="如何有效的管理个人情绪?")
          .two.fields(style="margin-top:20")
            .field
              h4
                label 姓名
              input(type="text" name="name" placeholder="")
          .two.fields(style="margin-top:20")
            .field
              h4
                label 性别
              .ui.selection.dropdown
                input(type="hidden" name="gender")
                .default.text 性别
                i.dropdown.icon
                .menu
                  .item(data-value="male") 男
                  .item(data-value="female") 女
          .two.fields(style="margin-top:20;margin-bottom:20;")
            .field
              h4
                label 电子邮件
              .ui.left.icon.input
                input(type="text")
                i.mail.icon
          .two.fields(style="margin-top:20;margin-bottom:20;")
            .field
              h4
                label 联系电话
              .ui.left.icon.input
                input(type="text")
                i.call.icon
          .ui.submit.purple.button(style="margin-top:30;") 提交