script#account-login-tpl(type="text/template")
  .ui.segment.compact
    .required.field
      label Username
      .ui.left.icon.input
        input(type="text", name="username", placeholder="Username")
        i.user.icon
    .required.field
      label Password
      .ui.left.icon.input
        input(type="password", name="password", placeholder="Password")
        i.lock.icon
    .ui.submit.button Login

script#account-register-tpl(type="text/template")

  .required.field
    label Username
    input(type="text", name="username", placeholder="Username")
  .required.field
    label Password
    input(type="password", name="password", placeholder="Password")
  .required.field
    label Retype Password
    input(type="password", name="password1", placeholder="Retype password")
  .field
    .ui.checkbox
      input(type="checkbox", name="terms")
      label
        | I agree to the 
        a(href="#") Term of Service
  .ui.horizontal.divider OR
  .field
    span
      | Alreay have account 
      a(href="/app/login") login
  .ui.submit.button Submit

