script#appointments-tpl(type="text/template")
  h2.ui.header 我的预约
  ul.ui.items.divided

script#appointment-tpl(type="text/template")
  .ui.small.image
    img(src="/public/images/placeholder.png")
  .content
    a.ui.header <%= date %>
    p.description <%= date %>
    .extra
      .ui.label <%= state %>
      .ui.label <%= approach %>