script#articles-tpl(type="text/template")
  ul.ui.list

script#article-tpl(type="text/template")
  .content
    h5.header 
      a(href!="/app/articles/<%= id %>") <%= title %>
    p.description <%= summary %>

script#article-detail-tpl(type="text/template")
  header
    h5 <%= title %>
  p <%= summary %>
  p <%= body %>