script#articles-tpl(type="text/template")
  h2.ui.header Article List
  ul.ui.relaxed.items

script#article-tpl(type="text/template")
  .image
    img(src="/public/images/placeholder.png")
  .content
    a.ui.header(href!="/app/articles/<%= id %>") <%= title %>
    p.description <%= summary %>

script#article-detail-tpl(type="text/template")
  header
    h5 <%= title %>
  p <%= summary %>
  p <%= body %>