script#articles-tpl(type="text/template")
  .ui.pointing.menu
    .header.items 心理支持
    .ui.dropdown.item family issue
      i.dropdown.icon
      .menu
        a.item 1
        a.item 2
        a.item 3


script#articles-tpl-bak(type="text/template")
  .ui.pointing.menu
    .header.items 心理支持
    .ui.dropdown.item family issue
      i.dropdown.icon
      .menu
        a.item 1
        a.item 2
        a.item 3
  ul.ui.items.divided
  .ui.three.column.divided.grid
    .column
      p
    .column
      a.icon.button.left(href!="/articles/p<%= number-1 %>")
        i.left.large.chevron.icon
      a <%= number+1 %> / <%= totalPages %>  
      a.icon.button.right(href!="/articles/p<%= number+1 %>")
        i.right.large.chevron.icon
    .column
      p

script#article-tpl(type="text/template")
  .ui.small.image
    img(src="/public/images/placeholder.png")
  .content
    a.ui.header(href!="/articles/<%= id %>") <%= title %>
    p.description <%= summary %>
    .extra
      .ui.label XXXX
      .ui.label YYY

script#article-video-tpl(type="text/template")
  a
    h2 视频
  .ui.divider
  .ui.items#videocontentlist

script#article-audio-tpl(type="text/template")
  a
    h2 音频
  .ui.divider
  .ui.items#audiocontentlist

script#article-original-tpl(type="text/template")
  a
    h2 原创
  .ui.divider
  .ui.items#originalcontentlist

script#article-item-tpl(type="text/template")
  .ui.small.image
    img(src!="<%= cover || '/public/images/placeholder.png' %>")
  .content
    a.header(href!="/articles/<%= id %>") <%= title %>
    .description <%= summary2 %> 

script#article-cards-tpl(type="text/template")
  .small.image
    img(src!="<%= cover || '/public/images/placeholder.png' %>")
  .content
    a.header(href!="/articles/<%= id %>") <%= title %>
    .description <%= summary %>

script#article-detail-tpl(type="text/template")
  .center.floated.sixteen.wide.mobile.ten.wide.tablet.eight.wide.computer.column
    .row
      .ui.raised.segment
        header
          h2 <%= title %>
        .ui.divider
        p <%= summary %>
        p <%= body %>
    .row
      .ui.basic.segment
        .ui.divider
        .ui.comments
          .ui.divided.header 评论
          form.ui.reply.form
            .field
              textarea
            .ui.primary.submit.labeled.icon.button
              i.icon.edit
              |发布
          .ui.divider
          .comment
            a.avatar
              img(src="/public/images/temp/joe.jpg")
            .content
              a.author 月月
              .metadata
                .date 1天前
              .text
                p 文章内容精辟，值得学习，学习学习！
          .comment
            a.avatar
              img(src="/public/images/temp/elliot.jpg")
            .content
              a.author Elliot
              .metadata
                .date 1天前
              .text
                p 文章内容精辟，值得学习，学习学习!
          .comment
            a.avatar
              img(src="/public/images/temp/jenny.jpg")
            .content
              a.author Jenny
              .metadata
                .date 1天前
              .text
                p 文章内容精辟，值得学习，学习学习！
          .comment
            a.avatar
              img(src="/public/images/temp/stevie.jpg")
            .content
              a.author Stevie
              .metadata
                .date 1天前
              .text
                p 文章内容精辟，值得学习，学习学习！
