script#consultants-tpl(type="text/template")
  ul.ui.items

script#consultant-tpl(type="text/template")
  .item(style="padding-top:2rem")
    .ui.piled.segment
      .ui.small.image
        img(src!="<%= avatar%>")
      .content
        a.ui.header <%= username %>
        p.description <%= about %>
        .ui.divider
        .ui.accordion
          .title 预约信息
            i.dropdown.icon
          .content
            form.ui.form  
              .field
                label 日期:  
                input(type="date", name="date", placeHolder="Date")
              .field
                label 方式:  
                select.ui.dropdown(name="approach")
                  option(value="ONLINE") 在线
                  option(value="OFFLINE") 面对面
                  option(value="BY_PHONE") 电话
              .field
                label 留言:  
                textarea(name="reason")
              .ui.button.submit 预约

script#new-appointment-tpl(type="text/template")