script#course-list-item-tpl(type="text/template")
  .image
    img(src="/public/images/placeholder.png")
  .content
    a.header 链接到课程详细信息
    .meta
      span 咨询师链接
    .description
      p 课程描述
    .extra
      .ui.label 注册链接


script#course-item-detail-tpl(type="text/template")

script#course-registration-tpl(type="text/template")



