script#header-tpl(type="text/template")
  a.active.item(href="/")
    i.home.icon 
    | Home
  .right.menu
    a.item(href="/app/login") Login
  .right.menu
    a.item(href="/app/register") Register


