script#header-tpl(type="text/template")
  a.active.item(href="/")
    i.home.icon 
    | 汇心网
  .right.menu
    a.item(href="/login") 登陆
  .right.menu
    a.item(href="/register") 注册

script#headerlogin-tpl(type="text/template")
  a.active.item(href="/")
    i.home.icon 
    | 汇心网
  .right.menu
    a.item(href="/logout") 退出
  .right.menu
    a.item(href="/") 个人档案
  .right.menu
    a.item(href!="/profile/<%= id %>") 用户面板
