script#module-tpl(type="text/template")
  .ui.fluid.card
    a.image(href!="<%= href %>")
      img(src!="<%= image %>")
    .content
      a.header(href!="<%= href %>") <%= title %>
      .meta <%= subtitle %>
      .description <%= body %>

script#modules-tpl(type="text/template")
  .ui.three.column.grid.cards