script#logout-tpl(type="text/template")
  header
  h5 Please save your work before logout
  .required.field
    label Feedback
    .ui.left.icon.input
      input(type="text", name="feedback", placeholder="Feedback")
      i.user.icon
  .ui.logout.button Logout