script#profile-tpl(type="text/template")
  .ui.piled.segment
    img.ui.small.image(src!="<%= avatar%>")
    h3.ui.header <%= username %>
    p.description <%= about %>
    .row
      ul
        li
          a(href!="/appointments/appointedBy/<%= id %>") 我的预约
        li
          a(href="/tests") 心理测试
        li
          a(href="#!") 心理课程
        li
          a(href!="/articles/createdBy/<%= id %>") 心理知识
