
script#profile-myappointments-tpl(type="text/template")
  .ui.celled.list
    |<% _.each(items, function(item){ %>
    .item
      img.ui.avatar.image(src!="<%= item.consultant_avatar %>")
      .content
        .header <%= item.consultant_name %>
        .description 
          .label 时间 <%= (new Date(item.date)).toLocaleString() %>
          .label 状态 <%= item.state %>
          a(href!="<%= item.consultant_qqAddress %>") QQ聊天
    |<% }); %>

script#profile-mycourses-tpl(type="text/template")
  .ui.divided.list
    |<% _.each(items, function(item){ %>
    .item
      i.map.marker.icon
      .content
        .header <%= item.consultant_name %>
        .description 
          .label 时间 <%= item.date %>
          .label 状态 <%= item.state %>
          a(href!="<%= item.qqAddress %>") QQ聊天
    |<% }); %>

script#profile-mytests-tpl(type="text/template")

script#profile-myarticles-tpl(type="text/template")

