script#profile-tpl(type="text/template")
  .ui.piled.segment
    img.ui.small.image(src!="<%= avatar%>")
    h3.ui.header <%= username %>
    p.description <%= about %>
    form.ui.form  
      .field
        label 邮箱：    
        .ui.left.icon.input
          input(type="text", name="email", value!="<%= email %>", required)
          i.mail.icon
      .field
        label 性别：   
        select.ui.dropdown(name="gender")
          option(value="male") 男
          option(value="female") 女
      .field
        label 年龄：    
        .ui.left.icon.input
          input(type="text", name="age", value!="<%= age %>", required)
          i.user.icon
      .field
        label 地址：    
        .ui.left.icon.input
          input(type="text", name="address", value!="<%= address %>", required)
          i.home.icon
      .field
        label 手机：    
        .ui.left.icon.input
          input(type="text", name="mobile", value!="<%= mobile %>", required)
          i.call.icon
      .field
        label QQ：    
        .ui.left.icon.input
          input(type="text", name="qq", value!="<%= qq %>", required)
          i.call.icon
      .field
        label QQ 地址：    
        .ui.left.icon.input
          input(type="text", name="qqAddress", value!="<%= qqAddress %>", alt="外链地址，可不填", required)
          i.call.icon
      .field
        label 固定电话：  
        .ui.left.icon.input
          input(type="text", name="landline", value!="<%= landline %>", required)
          i.call.icon
      .ui.horizontal.divider
      .ui.left.icon.input
        input.ui.submit.button(type="submit", value="保存")
        i.save.icon
    .ui.horizontal.divider
    .row
      ul
        li
          a(href!="/appointments/appointedBy/<%= id %>") 我的预约
        li
          a(href="/tests") 我的测试
        li
          a(href!="/courses/bookedBy/<%= id %>") 我的课程
        li
          a(href!="/articles/createdBy/<%= id %>") 我的文章
