script#test-tpl(type="text/template")
  //- test name and description

  #test-header.ui.vertical.segment
  #test-item.ui.vertical.segment
  #test-wizard.ui.vertical.segment

script#test-header-tpl(type="text/template")
  //- test name and description
  .ui.basic.segment
    h2 <%= title %>
  .ui.basic.segment
    h4 <%= description %>
  .ui.basic.segment
    h5 第<%= current+1 %>题，一共<%= total %>题

script#test-item-tpl(type="text/template")
  .ui.basic.segment
    .label <%= description %>
  #item-options

script#test-item-option-tpl(type="text/template")
  .ui.basic.segment
    .ui.radio.checkbox
      input(type="radio")
      label <%= description %>

script#test-wizard-tpl(type="text/template")
  .four.wide.column
    #last.ui.purple.button 上一题
  .four.wide.column
    #next.ui.purple.button 下一题
  .four.wide.column
    #submit.ui.purple.disabled.button 提交答案

