script#test-tpl(type="text/template")
  //- test name and description
  #test-header.ui.left.aligned.compact.segment
  .ui.horizontal.divider
  #test-item.ui.left.aligned.compact.segment
  .ui.horizontal.divider
  #test-wizard

script#test-header-tpl(type="text/template")
  //- test name and description
  h3 <%= title %>
  h5 <%= description %>
  span
    h5 第<%= current+1 %>题，一共<%= total %>题

script#test-item-tpl(type="text/template")
  span
    <%= description %>
  #item-options

script#test-item-option-tpl(type="text/template")
  input(type="radio")
  label <%= description %>

script#test-wizard-tpl(type="text/template")
  .four.wide.column
      #last.ui.primary.button 上一题
  .four.wide.column
      #next.ui.primary.button 下一题
