script#test-detail-tpl(type="text/template")
  //- test name and description
  #test-header
    h5 <%= title %>
    h3 <%= description %>
  //- item description and options
  #test-item
  a.previous.waves-effect.waves-light.btn 上一题
  a.next.waves-effect.waves-light.btn 下一题

script#test-general-tpl(type="text/template")
  //- test name and description
  header
    h5 <%= title %>
    image <%= image>
    h3 <%= description %>
  button.btn.waves-effect.waves-light 开始测试

script#test-item-tpl(type="text/template")
  span
    |<%= sequence %>
    |<%= description %>
  #item-options

script#test-item-option-tpl(type="text/template")
  input(type="radio")
  label <%= description %>
