script#header-template(type="text/html")
  nav
    .nav-wrapper
      a.brand-logo(href="#") 汇心网
      ul.right
        li
          a(href="#") Articles
        li
          a(href="#") Questions

script#main-template(type="text/html")
  .row

script#footer-template(type="text/html")
  .footer-copyright
    .container &copy; 2015 XX有限公司
      a.grey-text.text-lighten-4.right(href="#") More Links