script#header-template(type="text/template")
  nav
    .nav-wrapper
      a.brand-logo(href="#") 汇心网
      ul.right
        li
          a(href="#") Articles
        li
          a(href="#") Questions

