script#header-template(type="text/html")
  include ./header.import.jade
script#main-template(type="text/html")
  include ./main.import.jade
script#footer-template(type="text/html")
  include ./footer.import.jade