.row
  .container
    div
      a#connect.waves-effect.waves-light.btn Enter Chat Room
      a#disconnect.waves-effect.waves-light.btn.disabled Leave Chat Room
    div
      .input-field
        input#message.disabled(type="text")
        label(for="message") enter messages here
        ul#messages.collection
          li.collection-header
            h4 Conversation